<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">

    <title>Lista Telefônica</title>
</head>
<body>
    <div ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h3>{{ app }}</h3>

            <table clasS="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
                <tr ng-repeat="contato in contatos">
                    <!-- <td ng-repeat="(key, value) in contato">{{value}}</td> -->
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.telefone }}</td>
                </tr>
            </table>

            <hr>

            <input class="form-control mb-1" type="text" ng-model="contato.nome" placeholder="Nome">
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
            <div class="d-grid">
                <button ng-click="addContato(contato)" ng-disabled="!contato.nome || !contato.telefone" class="btn btn-primary btn-block mt-1">Adicionar contato</button>
            </div>
            {{ contato }}

        </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                {nome: 'Pedro', telefone: '987654321'},
                {nome: 'Taila', telefone: '976580976'},
                {nome: 'Bárbara', telefone: '976650934'}
            ]

            $scope.addContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato
            }
        })
    </script>
</body>
</html>