<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./style.css">

    <title>Lista Telefônica</title>
</head>
<body>
    <div ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">

            <h3>{{ app }}</h3>

            <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?">
            
            <table clasS="table table-striped">
                <tr ng-show="contatos.length > 0">
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                    <th>Operadora</th>
                    <!-- <th>Ícone</th> -->
                    <th>Data</th>
                </tr>
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criterioDeOrdenacao: direcaoDaOrdenacao">
                    <!-- <td ng-repeat="(key, value) in contato">{{value}}</td> -->
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>{{ contato.operadora.nome | lowercase }}</td>
                    <!-- <td><div class="color-column" ng-style="{'background-color': contato.cor}"></div></td> -->
                    <td>{{ contato.data | date : "dd/MM/yyyy HH:mm" }}</td>
                </tr>
            </table>

            <form name="contatoForm">
                <input class="form-control mb-1" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="3">
                <input class="form-control mb-1" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
                <select class="form-select" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy: 'nome'">
                    <option value="">Selecione uma operadora</option>
                </select>
            </form>

            <div ng-messages="contatoForm.nome.$error" class="alert alert-danger mt-2">
                <div ng-message="required">
                    <p>Por favor, preencha o nome.</p>
                </div>
                <div ng-message="minlength">
                    <p>O campo "Nome" deve ter no mínimo 3 caracteres.</p>
                </div>
            </div>

            <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger mt-2">
                <p>Por favor, preencha o telefone.</p>
            </div>
            <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger mt-2">
                <p>O campo "Telefone" deve ter o fomato DDDDD-DDDD.</p>
            </div>  

            <div class="d-grid">
                <button class="btn btn-primary btn-block mt-1" ng-click="addContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>
                <button class="btn btn-danger mt-1" ng-click="apagarContato(contatos)" ng-show="isContatoSelecionado(contatos)">Deletar contato</button>
                <!--ngShow e ngHide trabalham apenas na visibilidade do elemento. Não aparecem mas seguem existindo. Já o ngIf interage com a DOM, removendo e adicionando o elemento em questão.-->
            </div>

        </div>
    </div>
    <div ng-include="'footer.html'"></div>

    <script src="./lib/angular/angular.js"></script>
    <script src="./lib/angular/angular-messages.js"></script>
    <script src="./lib/angular/angular-locale_pt-br.js"></script>
    <script>
        angular.module("listaTelefonica", ["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $filter) {
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                {nome: $filter('uppercase')('Pedro'), telefone: '987654321', cor: "blue", data: new Date(), operadora: {nome: 'Tim', codigo: 41, categoria: 'Celular'}},
                {nome: 'Taila', telefone: '976580976', cor: "purple", data: new Date(), operadora: {nome: 'Vivo', codigo: 15, categoria: 'Celular'}},
                {nome: 'Bárbara', telefone: '976650934', cor: "pink", data: new Date(), operadora: {nome: 'Oi', codigo: 31, categoria: 'Celular'}}
            ];
            $scope.operadoras = [
                {nome: 'Claro', codigo: 21, categoria: 'Celular', preco: 2},
                {nome: 'Oi', codigo: 31, categoria: 'Celular', preco: 1},
                {nome: 'Tim', codigo: 41, categoria: 'Celular', preco: 3},
                {nome: 'Vivo', codigo: 15, categoria: 'Celular', preco: 2},
                {nome: 'Embratel', codigo: 21, categoria: 'Fixo', preco: 2},
                {nome: 'GVT', codigo: 25, categoria: 'Fixo', preco: 3}
            ];
            $scope.addContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            }
            $scope.apagarContato = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if (!contato.selecionado) return contato;
                })
            }
            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function(contato) {
                    return contato.selecionado;
                });
            }
            $scope.ordenarPor = (campo) => {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            }
        })
    </script>
</body>
</html>