<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">

    <title>Lista Telefônica</title>
</head>
<body>
    <div ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h3>{{ app }}</h3>

            <table clasS="table table-striped">
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                    <!-- <td ng-repeat="(key, value) in contato">{{value}}</td> -->
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>{{ contato.operadora.nome }}</td>
                </tr>
            </table>

            <hr>

            <input class="form-control mb-1" type="text" ng-model="contato.nome" placeholder="Nome">
            <input class="form-control mb-1" type="text" ng-model="contato.telefone" placeholder="Telefone">
            <select class="form-select" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>
            <div class="d-grid">
                <button class="btn btn-primary btn-block mt-1" ng-click="addContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
                <button class="btn btn-danger mt-1" ng-click="apagarContato()">Deletar contato</button>
            </div>

        </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                {nome: 'Pedro', telefone: '987654321'},
                {nome: 'Taila', telefone: '976580976'},
                {nome: 'Bárbara', telefone: '976650934'}
            ];
            $scope.operadoras = [
                {nome: 'Claro', codigo: 21, categoria: 'Celular'},
                {nome: 'Oi', codigo: 31, categoria: 'Celular'},
                {nome: 'Tim', codigo: 41, categoria: 'Celular'},
                {nome: 'Vivo', codigo: 15, categoria: 'Celular'},
                {nome: 'Embratel', codigo: 21, categoria: 'Fixo'},
                {nome: 'GVT', codigo: 25, categoria: 'Fixo'}
            ];
            $scope.addContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato
            }
            $scope.apagarContato = function() {
                console.log($scope.contatos)
            }
        })
    </script>
</body>
</html>